/* Main Section of The Site */

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #3E1255;
}

.main-left-section {
    position: fixed;
    top: 50;
    left: 0;
    width: 150px;
    height: 300px;
    border-left: none;
    border-top: none;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #9874AA;
    color: #fff;
}

.main-left-user{
    padding-top: 10px;
}
.main-left-friends {
    padding-top: 10px;
}

.main-left-friend-scroll{
    height: 152px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.main-friend-list {
    list-style: none;
}

.main-friend-requests {
    list-style: none;
}

.main-right-section {
    position: fixed;
    top: 50;
    right: 0;
    width: 150px;
    height: 300px;
    border-right: none;
    border-top: none;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #9874AA;
    color: #FFF;
}

@media screen and (max-width: 762px) {
    .main-left-section,
    .main-right-section
    {
        display: none
    }
}